*.hdf5
*.txt
*.npz
*.npy
*.png
*.weights
*.arch
*.log
*.batch
*.predictions
*.0
*.1
*.2
*.3
*.4
*.5
*.6
*.7
*.8
*.9
*.bw
*.gz
*.svg
*.deepSHAP
*.bed
*cache*
*.tsv
*.narrowPeak
*.fasta
*.fai
*.Rhistory
*.p
