# Compiler outputs #
*.a
*.bat
*.exe
*.json
*.pyc
*.ipynb_checkpoints
*.pkl
*.npy
*.pdf
*.png
*.bed
*.pfm
*.pwm
*.bam
*.gz
*.bai
*.bw
*.fai
*.json
# Directories #
# logs
results
experimental_scripts
tracks
needs_cleanup
old
reference
melanie_models/
melanie_bias_model.sh
